<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <style>
            body {
            position: relative;
         width: 1024px;
         height: 1024px;
         background: linear-gradient(250deg, #58F73E 2.08%, #083AEE 94.78%);

        
            }
        
        table,td,th{
            
            border: 1px solid white;
        }
        th{
            font-weight: bolder;
        }
        td,th{
            padding: 5px;
        }
       

    </style>
</head>
<body>
    <h1>Lista de Usuários</h1>
    

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>

        <%for(usuario of Usuarios){ %>
        <tr>
            <td><%=usuario._id %></td>
            <td><%=usuario.nome %></td>
            <td><%=usuario.email %></td>
            <td><%=usuario.foto %></td>
            <td>
                <a href="/del/<%=usuario._id%>" >deletar</a>
            </td>

            <td>
                <a href="/edit/<%=usuario._id%>" >editar</a>
            </td>
        </tr>
        <% } %>


    </table>


</body>
</html>