
<%-include('cabecalho.ejs')%>

<form method="post">
        Pesquisa: <input type="text" name ="txtPesquisa" placeholder="Pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
    <br>
    <br>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>

        <%for(usuario of Usuarios){ %>
        <tr>
            <td><%=usuario._id %></td>
            <td><%=usuario.nome %></td>
            <td><%=usuario.email %></td>
            <td><img class="foto" src="/fotos/<%=usuario.foto %>"/></td>
            <td>
                <a href="/del/<%=usuario._id%>" >deletar</a>
            </td>

            <td>
                <a href="/edit/<%=usuario._id%>" >editar</a>
            </td>
        </tr>
        <% } %>


    </table>
    <%-include('rodape.ejs')%>
